@import 'bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
  background-image: url(../public/image-assets/signin_background.png);
  user-select: none;
}

#signin-header {
  color: white;
  font-family: Raleway;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 80px;
  text-shadow: 0px 0px 2px rgb(248, 167, 253);
  margin-bottom: 11vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #88effd;
}

.landing-buttons {
  font-family: Raleway;
  text-shadow: 0px 0px 2px rgb(248, 167, 253);
  background-color: transparent;
  border-style: none;
  width: 50%;
  color: white;
  font-size: 22px;
  text-align: left;
  padding-left: 4px;
  transition: all ease 0.3s;
}

.landing-buttons:hover {
  background-color: transparent;
  border-style: none;
  cursor: pointer;
  text-shadow: 0px 0px 20px rgb(197, 4, 207);
  color: rgb(252, 200, 255);
}

.landing-buttons:active {
  background-color: transparent;
  border-style: none;
  cursor: pointer;
  text-shadow: 0px 0px 20px rgb(248, 117, 255);
  color: rgb(248, 117, 255);
  background-color: transparent;
  border-style: none;
}

.about-text {
  font-family: Raleway;
  text-shadow: 0px 0px 5px rgb(248, 167, 253);
  color: white;
  font-size: 22px;
  width: 30%;
  text-align: center;
  margin: 0 auto;
}

.about-div {
  margin-top: -6vh;
}

#override-active:active {
  background-color: transparent;
}


#github-logo {
  position: absolute;
  bottom: 25px;
  right: 25px;
}

#github-logo:hover {
  cursor: pointer;
}
