@import 'bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes float {
  0% {
    transform:translateY(10px);
  }
  100% {
    transform:translateY(-6px);
  }
}

.fade-in {
  animation: fadeIn 1s;
}

html,
body {
  background-image: url(../public/image-assets/signin_background.png);
  user-select: none;
}

#signin-header {
  color: white;
  font-family: Raleway;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 80px;
  text-shadow: 0px 0px 2px rgb(248, 167, 253);
  margin-bottom: 11vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #88effd;
}

.landing-buttons {
  font-family: Raleway;
  text-shadow: 0px 0px 2px rgb(248, 167, 253);
  background-color: transparent;
  border-style: none;
  width: 50%;
  color: white;
  font-size: 22px;
  text-align: left;
  padding-left: 4px;
  transition: all ease 0.3s;
}

.landing-buttons:hover {
  background-color: transparent;
  border-style: none;
  cursor: pointer;
  text-shadow: 0px 0px 20px rgb(197, 4, 207);
  color: rgb(252, 200, 255);
}

.landing-buttons:active {
  background-color: transparent;
  border-style: none;
  cursor: pointer;
  text-shadow: 0px 0px 20px rgb(248, 117, 255);
  color: rgb(248, 117, 255);
  background-color: transparent;
  border-style: none;
}

.about-text {
  font-family: Raleway;
  text-shadow: 0px 0px 5px rgb(248, 167, 253);
  color: white;
  font-size: 22px;
  width: 30%;
  text-align: center;
  margin: 0 auto;
}

.about-div {
  margin-top: -6vh;
}

#override-active:active {
  background-color: transparent;
}


#github-logo {
  position: absolute;
  bottom: 25px;
  right: 25px;
}

#github-logo:hover {
  cursor: pointer;
}

#backarrow {
  position: absolute;
  top: 25px;
  left: 25px;
  transition: all ease 0.5s;
}

#backarrow:hover {
  cursor: pointer;
  filter: drop-shadow(0px 0px 20px rgb(221, 206, 132))
}

#landing-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80vw;
  margin: 0 auto
}

.landing-circle {
  font-family: Raleway;
  background-color: rgba(115, 170, 170, 0.8);
  height: 170px;
  width: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30%;
  color: rgb(253, 243, 243);
  letter-spacing: 2px;
  transition: all ease 0.3s;
}

.landing-circle:hover {
  background-color: rgba(115, 170, 170, 1);
  box-shadow: 0px 0px 10px rgb(213, 233, 241);
  text-shadow: 0px 0px 5px rgb(75, 75, 75);
  cursor: pointer;
}

.circle-div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 30px;
}

#sign-out {
  font-family: Raleway;
  font-size: 30px;
  background-color: rgb(255, 103, 103, 0.5);
  transition: all ease 0.3s;
  border-style: none;
}

#sign-out:hover {
  background-color: rgb(255, 103, 103, 0.8);
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

#hover-text {
  margin-top: 10vh;
}

#landing-floating {
  height: 70vh;
  width: 100%;
  animation: float 1s infinite alternate;
}

#hover-text {
  color: yellow;
  text-shadow: 0px 0px 2px white;
  font-size: 20px;
  font-family: Raleway;
}
